<h1>Angular</h1>
<!-- reactive from -->
<new-course-form></new-course-form>
<br>
<signup-form>

</signup-form>
<br><br><br>
<!-- form control -->
<contact-form>
    
</contact-form>
<!-- custom directive -->
<input type="text" appInputFormat [format]="'uppercase'">
<br><br><br>

<h1 >{{ task.assignee?.name }}</h1>
<br><br><br>

<!--ng style-->
<!-- [style.backgroundColor]="canSave ? 'blue': 'gray'"
[style.color]="canSave ? 'white': 'black'"
[style.fontWeight]="canSave ? 'bold': 'normal'" -->
<button
    class="btn"

    [ngStyle]="{
        'backgroundColor': canSave ? 'blue': 'gray',
        'color': canSave ? 'white': 'black',
        'fontWeight': canSave ? 'bold': 'normal'
    }"

    (click)="styleChange()"
>
Save
</button>
<br><br><br>

<!--tackby server req performance-->
<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let course of courseses; trackBy: trackCourses">
        {{ course.name }}
    </li>
</ul>
<!--NGFOR CHANGE-->
<button class="btn btn-primary" (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courseses; index as i; even as isEven">
        {{ i+1 }} - {{ course.name }} <span *ngIf="isEven">(Even)</span>
        <button class="btn btn-danger" (click)="onRemove(course)"></button>
    </li>
</ul>
<br><br><br>
<!--ngswitchcase-->
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">map view</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">list view</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">map view contet</div>
    <div *ngSwitchCase="'list'">list view content</div>
    <div *ngSwitchDefault>other wise</div>
</div>
<br><br><br>
<!--ngIf-->
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    if:List of courses
</ng-template>
<ng-template #noCourses>
    if:No courses yet
</ng-template>
<!--hidden-->
<div [hidden]="courses.length == 0">
    hid:List of courses
</div>
<div [hidden]="courses.length > 0">
    hid:No Courses yet
</div>
<br>
<br>
<br>
<bootstrap-panel>
    <div class="heading">Heading</div> <!--puts content in a div-->
    <ng-container class="heading">Heading</ng-container><!--does not do stuff above-->
    <div class="body">
        <h2>body</h2>
        <p>some content...</p>
    </div>
</bootstrap-panel>
<br>
<br>
<br>

<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<br>
<courses></courses>